.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    gap: 0.5em;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    width: 75vw;
    height: 15vw;
    max-height: 50vh;
    position: relative;
    overflow: hidden;
}

.gridColumn {
    width: 4vw;
    max-width: 100px;
    background-color: #0088f7;
    box-sizing: border-box;
    position: relative;
    transform-origin: bottom;
    transition: height 0.45s ease, transform 0.45s ease;
}

.grid::after {
    content: '';
    position: absolute;
    bottom: 50%;
    left: 0;
    right: 0;
    border-bottom: 2px solid white;
}